.menu-item{
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    border: 1px solid #000;
    overflow: hidden;

    &:first-child{
        margin-right: 7.5px;
    }
    &:last-child{
        margin-left: 7.5px;
    }

    &.large{
        height: 380px;
    }

    &:hover{
        cursor: pointer;

        .background-img{
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25,0.45,0.45,0.95);
        }
        .content{
            opacity: 1;
        }
    }
    .background-img{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .content{
        height: 90px;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #000;
        background-color: #fff;
        opacity: 0.9;
        position: absolute;

        .title{
            font-weight: bold;
            font-size: 22px;
            color: #4a4a4a;
            margin-bottom: 6px;
        }
        .subtitle{
            font-size: 16px;
            font-weight: lighter;
        }
    }
}